<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Musicabulary</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/banner' %>

    <div class="main welcome">

      <div class="content">

        <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, id: key, class: "flash" %>
        <% end %>

        <span class="title"><h1>A Look At Lyrical Diversity In Music</h1></span>

        <p>Cupcake ipsum dolor sit. Amet tiramisu I love gummies I love. Carrot cake gummi bears jujubes. Oat cake chocolate cake chocolate. Wafer I love jelly pie oat cake. Toffee I love I love sugar plum gingerbread candy cupcake chocolate bar I love. Liquorice carrot cake cotton candy gummies. Caramels topping candy canes oat cake powder I love tart jelly beans icing. Topping macaroon sugar plum I love. Croissant pie chocolate. Sweet roll cookie danish. Halvah I love sweet roll cookie icing icing.</p>

        <p>Chocolate cake cheesecake jelly beans powder pudding pudding. Lollipop soufflé toffee muffin. Gummi bears jelly-o gummies marshmallow dragée danish cake I love I love. Carrot cake croissant sweet dessert cookie I love tart.</p>

        <div class="top-artists">
          <span class="title">
            <h2>Last.FM's Top Artists</h2>
            <h3># of Unique Words Within Artist's First 3,500 Words on Record</h3>
          </span>
          <%= render 'layouts/chart' %>
        </div>

        <p>Cupcake ipsum dolor sit. Amet tiramisu I love gummies I love. Carrot cake gummi bears jujubes. Oat cake chocolate cake chocolate. Wafer I love jelly pie oat cake. Toffee I love I love sugar plum gingerbread candy cupcake chocolate bar I love. Liquorice carrot cake cotton candy gummies. Caramels topping candy canes oat cake powder I love tart jelly beans icing. Topping macaroon sugar plum I love. Croissant pie chocolate. Sweet roll cookie danish. Halvah I love sweet roll cookie icing icing.</p>

        <p>Chocolate cake cheesecake jelly beans powder pudding pudding. Lollipop soufflé toffee muffin. Gummi bears jelly-o gummies marshmallow dragée danish cake I love I love. Carrot cake croissant sweet dessert cookie I love tart.</p>

        <p>Brownie I love sweet roll jelly-o dessert cupcake dragée. Muffin lemon drops macaroon chocolate cake I love. Lemon drops soufflé chocolate I love topping croissant fruitcake I love.</p>

        <p>Chocolate cake cheesecake jelly beans powder pudding pudding. Lollipop soufflé toffee muffin. Gummi bears jelly-o gummies marshmallow dragée danish cake I love I love. Carrot cake croissant sweet dessert cookie I love tart.</p>

      </div>

    </div>

    <%= render 'layouts/footer' %>

  </div>

  </body>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "banner" %>
  <%= javascript_include_tag "chart" %>
</html>
